.white-bg{
    -fx-background-color: #fff;
}
.left-form{
    -fx-background-color: #30343f;
}
.textfield {
    -fx-background-color: transparent;
    -fx-border-color: #3f3951;
    -fx-border-width: 0px 0px .8px 0px;
    -fx-font-size: 13px;
}
.btn {
    -fx-background-color: #0089ff;
    -fx-background-radius: 7px;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
}

.btn:hover {
    -fx-background-color: #3cb0fd;
}
.btn2{
    -fx-background-color: transparent;
    -fx-border-color: #0089ff;
    -fx-border-width: 2px;
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-text-fill: #0089ff;
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
}

.btn2:hover {
    -fx-background-color: #0089ff;
    -fx-text-fill: #ffffff;
}
